@import './modules/reset';
@import './modules/vars';

@import './modules/chatmessage';

// write some defaults here
body {

    font-size: 16px;
    background-color: #ffffff;
    color: rgb(44, 44, 44);

    font-family: 'Inter', sans-serif;
}

main { 
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

* {
    margin: 0;
    border: none;
    padding: 0;

    box-sizing: border-box;
}



